/* 设置整个页面的字体和背景颜色 */
body {
    font-family: Arial, sans-serif; /* 设置字体 */
    background-color: #f4f4f9; /* 浅灰色背景 */
    color: #333; /* 字体颜色 */
    line-height: 1.6; /* 行间距 */
    padding: 20px; /* 页面内边距 */
}

.daysCountStyle{
	font-size:30px;
	font-weight:bold;
}


/* 标题样式 */
h1 {
    color: #6a1b9a; /* 深紫色 */
    text-align: center; /* 居中标题 */
	font-size:30px;
}

h2 {
    color: #00695c; /* 深绿色 */
	text-align:center;
    margin-bottom: 20px; /* 底部间距 */
}

/* 链接样式 */
a {
    color: #1e88e5; /* 蓝色 */
    text-decoration: none; /* 移除下划线 */
}
a:hover {
    text-decoration: underline; /* 鼠标悬停时添加下划线 */
}

/* 图片样式 */
img {
    display: block; /* 块级显示 */
	width:500px;
    margin: 0 auto; /* 水平居中 */
    height: auto; /* 高度自动 */
}

/* 段落样式 */
p {
    font-size: 20px; /* 字体大小 */
    margin-bottom: 10px; /* 底部间距 */
	text-align:center;
}

/* 无序列表样式 */
ul {
    padding-left: 20px; /* 列表内缩进 */
}

/* 有序列表样式 */
ol {
    padding-left: 20px; /* 列表内缩进 */
}

/* 表格样式 */
table {
    width: 100%; /* 表格宽度 */
    margin-top: 20px; /* 表格顶部间距 */
    border-collapse: collapse; /* 边框合并 */
}
th, td {
    border: 1px solid #ccc; /* 单元格边框 */
    padding: 8px; /* 单元格内边距 */
    text-align: left; /* 文字左对齐 */
}
th {
    background-color: #e1bee7; /* 淡紫色背景 */
}